.header {
    background-color: var(--third-light-color);
}
.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.page-nav {
    display: flex;
    align-items: center;
}
.header-contacts {
    display: flex;
    align-items: center;
}
.header-contact-icon {
    fill: currentColor;
    margin-right: 10px;
}
/* Navigations */
.site-nav {
    display: flex;
    align-items: center;
}
.site-nav .items + .items {
    margin-left: 50px;
}
.site-nav .link {
    position: relative;
    padding-top: 24px;
    padding-bottom: 24px;
    color: var(--title-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.2; 
    letter-spacing: 0.02em; 
    transition-property: color;
    transition-duration: var(--transition-duration);
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.site-nav .link:hover,
.site-nav .link:focus {
    color: var(--primary-accent);
    border: none;
} 
.site-nav .link.current {
    color: var(--primary-accent);
}
.link.header-contacts {
    color: var(--primary-text-color);
}