.portfolio-cards-list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}
.portfolio-cards-text {
    padding: 20px 24px;
    background-color: var(--third-light-color);
}
.portfolio-cards-text p {
    margin-top: 4px;
}
.header-portfolio {
    border-bottom: 1px solid #ECECEC;
}
.portfolio-cards-links {
    background-color: var(--third-light-color);
    outline: 1px solid #EEEEEE;
    transition-property: box-shadow;
    transition-duration: var(--transition-duration);
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-cards-links:hover,
.portfolio-cards-links:focus
{
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}