.studio-section {
    display: flex;

    & .items + .items {
        margin-left: 30px;
    }
}

.studio-decore-container {
    @extend %align;
    width: 270px;
    height: 120px;
    margin-bottom: 30px;
    background-color: var(--secondery-light-color);
}