.button {
    color: var(--title-color);
    background-color: var(--secondery-light-color);
    font-family: inherit;
}
.button.primary {
    color: var(--third-light-color);
    background-color: var(--primary-accent);
}
