.button {
    color: var(--title-color);
    background-color: var(--secondery-light-color);
    font-family: inherit;
    
    &.primary {
        background-color: var(--primary-accent);
        color: var(--third-light-color);
    }
}
