.accent {
    color: var(--logo-color-accent);
}
.logo_theme-dark {
    color: var(--logo-color-dark);
}
.logo_theme-light {
    color: var(--logo-color-light);
}
.logo {
    font-family: Raleway, sans-serif;
    font-size: 26px;
    line-height: 1.2;
    margin-right: 93px;
}