:root {
    --logo-color-accent: #2196F3;
    --logo-color-dark: #000;
    --logo-color-light: #ffffff;
    --primary-accent: #2196F3;
    --secondary-accent: #188CE8;
    --primary-light-color: #E5E5E5;
    --secondery-light-color: #F5F4FA;
    --third-light-color: #ffffff;
    --primary-text-color: #757575;
    --title-color: #212121;
    --incolor-background: #2F303A;
    --bg-non-image: #C4C4C4;
    --border-icons: #AFB1B8;
    --transition-duration: 250ms;
}